<a href=""></a>
<h1>{{movie.title}}</h1>
<img src="{{movie.image}}" alt="movie image">
<h2>{{movie.director}}</h2>
<h3>STARS</h3>
<ul>
    {{#each movie.stars}}
    <li>
    {{this}}
    </li>
    {{/each}}

</ul>
<p> {{movie.description}} </p>

<ul>
    {{#each movie.showtimes}}
    <li>
        {{this}} 
    </li>
    {{/each}}
</ul>


